*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 241, 241);
}

.container-titulo{
    background-color: #282a35;
    display: block;
    padding: 3px;
    border: 2px solid rgb(202, 202, 206);
    color: rgb(229, 229, 236);
    
    
}

.mascote-go{
       
     max-width: 70px;
    
}

.container-mascote-2{
    display: flex;
    justify-content: center;
    
}

.container-titulo{
    display: flex;
    align-items: center;
}
