*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    cursor: pointer;
}
.espaco{
    margin-right: 300px;
}
body{
    background-color: rgb(241, 241, 241);
}

/* Header */
.container-mascote-2{
    display: flex;
    justify-content: center; 
}

.container-titulo{
    background-color: #282a35;
    display: block;
    padding: 10px;
    border: 2px solid rgb(202, 202, 206);
    color: rgb(229, 229, 236);
    max-height: 70px;
}

.container-titulo .drop-menu{
    margin-left: 200px;
}

.container-titulo .list:hover{
    cursor: pointer;
}

.container-titulo{
    display: flex;
    align-items: center;
}

.mascote-go{
    max-width: 70px;
}

.material-icons{
    color: #fff;
    font-size: 30px;
    margin-right: 30px;
    margin-top: 5px;
}
.material-icons:hover{
    color: #00aed8;
}

#res{
    margin-left: 700px;
    font-size: 20px;
}
/* Footer */

.container-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #282a35;
    display: block;
    padding: 3px;
    border: 2px solid rgb(202, 202, 206);
    color: rgb(229, 229, 236);
    align-items: flex-end;
    text-align: center;
}

/* Dropdown */

:root{
    --cor-fundo : #282a35;
    --cor-primaria : #fff;
    --cor-hover : #00aed8;
}

li a{
    text-decoration: none;
}

.drop-menu ul{
    list-style-type: none;
    background-color: var(--cor-fundo);
}

.drop-menu ul li{
    display: block;
    position: relative;
}
.drop-menu ul li ul a{
    display: block;
    color: var(--cor-primaria);
    padding: 10px;
    transition: background .3s;
    font-size: 18px;
}
.drop-menu ul li a:hover{
    background-color: var(--cor-hover);
}

/* Sub menu */
.drop-menu ul li ul{
    display: none;
    position: absolute;
}

.drop-menu ul li span:hover ul{
    display: block;
}

.drop-menu ul ul li a{
    width: 180px;
    display: block;
}

/* Conteudo */

.texto1 {
    background-color: #d1f6ff9f;
    margin: 0 10% 5% 10%;
    text-align: justify;
    width: 70%;
    border: 2px solid whitesmoke;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: var(--cor-hover) 10px 10px 30px;
}

.titulo-texto {
    margin: 5% 10% 1% 10%;
    text-align: justify;
    width: 70%;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: var(--cor-hover) 1px 1px 5px;
}

.paragrafo {
    margin-bottom: 30px;
}
.curiosidades {
    margin-bottom: 20px;
}

.container-titulo-h2 .material-icons{
    color: #282a35;
}

.container-titulo-h2 .material-icons:hover{
    color: #00AED8;
}
/* Form */

.titulohome{
    display: flex;
    justify-content: center;
}
.formm{
    margin-top: 80px;

    display: flex;
    justify-content: center;
    text-align: center;   
    

}

.formm input, button, label{
    margin: 10px;
}

.formm label{
    margin-left: 10px;
    font-size: 20px;
}

.formm input{
    width: 250px;
    height: 35px;

    border-radius: 10px;
    border: solid 2px #00AED8;

    background-color: rgba(255, 255, 255, 0.719);

    font-size: 20px;
}

input:focus{
    outline: none;
}

.formm button{
    width: 250px;
    height: 35px;

    border-radius: 10px;
    border: solid 2px #00AED8;

    background-color: rgba(255, 255, 255, 0.719);

    font-size: 20px;
}

.formm button:hover{
    background-color: #00AED8;
    cursor: pointer;
}

.mascoteform{
    display: flex;
    justify-content: flex-end;

    margin-top: 40px;
    margin-right: 200px;
}
/*Sumário*/

.container-sumario{
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 45px;
    margin-bottom: 70px;
    width: 600px;
    height: 400px;
    font-size: 25px;
    border-radius: 15px;
    border: solid #717175 3px;
    
}

.container-sumario-pai{
    display: flex;
    justify-content: center;
}

.topicos{
    margin-bottom: 150px;
    color: #282a35;
}

.mascote-topicos{
    max-width: 100px;
}

.h2{
    justify-content: center;
    align-items: center;
}

.container-titulo-h2{  
    margin-bottom: 70px;
    display: flex; /* Para o icone */
}

a{
    text-decoration: none;
    color: #282a35;
}
li a:hover{
    color: #00AED8;
}

.material-icons{
    font-size: 40px;
    padding-right: 5px;
}

.titulo-texto span{
    color: #000;
    cursor: pointer;
}